body {
	background-color: #f0e66b;
	color: #2aaae1;
	font-weight: bold;
}

.navbar {
	background-color: #e8269d;
	width: 100%;
	overflow: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;
}

h2 {
	font-weight: bold;
	text-align: center;
}

.home{
	align: left;
	padding: 2em;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.unicorn {
	padding-top: 2em;
}

.hover-rotate: {
	transition: transform 2s ease-in-out;
}

.hover-rotate:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 2s ease-in-out 0s;
}


@keyframes bounce { 
	0% { transform: translateY(0); }
	100% { transform: translateY(-50px); }
}

.hover-bounce:hover {
	animation: bounce .7s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.responsive {
	max-width: 100%;
	height: auto;
}

.itempic {
	border-radius: 0.5em;
}

.menuitem {
	width: 50%;
	float: left;
	padding: 2em;
	color: white;
}

.menu {
	padding-top: 2em;
	padding-bottom: 1em;
	color: black;
	background-color: #ee09f6;
    border-radius: 0.5em;
}

.locationitem {
	width: 50%;
	float: left;
	padding: 2em;
	color: black;
}

.location {
	color: black;
    border-radius: 0.5em;
	background-color: #2aaae1;
}

h2.locationitem {
	color: black
}

.columns {
	column-count: 2;
	column-gap: 3em;
}

.countdown {
	background-color: #e8269d;
	width: 100%;
	overflow: auto;
	font-weight: bold;
	align-items: center;
	text-align: center;
}

 #clockdiv {
    font-family: sans-serif;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
	padding-bottom: 3em;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #f0e66b;
    display: inline-block;
	box-shadow: 0 8px 8px 0 rgba(24, 24, 28, 0.5);
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #2aaae1;
    display: inline-block;
}

.calendartext {
    padding-top: 5px;
    font-size: 16px;	    
	color: #e8269d;
	font-weight: bold;
}

.countdown-end {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}